modules = ["web"]

[nix]
channel = "stable-25_05"

[workflows]

[[workflows.workflow]]
name = "Servidor Local"
author = 46820520
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000 --bind 0.0.0.0"
